services:
  bot_horoscope:
    build:
      context: .
      dockerfile: docker/Dockerfile
    command: "python manage.py start_bot --bot horoscope"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - .env
    environment:
      - PYTHONOPTIMIZE=2
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "100m"
        max-file: "3"
