services:
  bot_horoscope:
    build:
      context: .
      dockerfile: docker/Dockerfile
    command: "python manage.py start_bot --bot horoscope"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - .env
    environment:
      - PYTHONOPTIMIZE=2
    restart: unless-stopped

  celery_worker:
    build:
      context: .
      dockerfile: docker/Dockerfile
    command: "celery -A config.celery worker --loglevel=info"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - .env
    environment:
      - PYTHONOPTIMIZE=2
    restart: unless-stopped

  celery_beat:
    build:
      context: .
      dockerfile: docker/Dockerfile
    command: "celery -A config.celery beat --loglevel=info"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - .env
    environment:
      - PYTHONOPTIMIZE=2
    restart: unless-stopped
