services:
  db:
    image: postgres:18
    ports:
      - "${DB_EXTERNAL_PORT:-5435}:5432"
    env_file:
      - .env
    volumes:
      - ./data/postgres:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "${REDIS_EXTERNAL_PORT:-6381}:6379"
    command: redis-server --appendonly yes
    volumes:
      - ./data/redis:/data
    restart: unless-stopped

  bot:
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        INSTALL_DEV: "true"
    command: "python manage.py start_bot"
    env_file:
      - .env
    volumes:
      - .:/code
    depends_on:
      - db
      - redis

  celery-worker:
    build:
      context: .
      dockerfile: docker/Dockerfile
    command: "celery -A config.celery worker --loglevel=info"
    env_file:
      - .env
    volumes:
      - .:/code
    depends_on:
      - db
      - redis

  celery-beat:
    build:
      context: .
      dockerfile: docker/Dockerfile
    command: "celery -A config.celery beat --loglevel=info"
    env_file:
      - .env
    volumes:
      - .:/code
    depends_on:
      - db
      - redis
